<nz-header style="background: #f2f2f2; padding:0;">
  <h1 style="font-size: 30px;">Dashboard</h1>

<!--  <a [routerLink]="['/']">主页</a>
  <a [routerLink]="['/dashboard']">Dashboard</a>
  <a [routerLink]="['/posts']">Posts</a>
  <a [routerLink]="['/statistics_comments']">Comments</a>
  <a [routerLink]="['/tags']">Categories</a>
  <a [routerLink]="['/tags']">Tags</a>-->

  <div style="float: right;padding:0 30px;">
    <nz-badge nzDot style="margin: 20px;">
      <i nz-icon nzType="message" nzTheme="outline"></i>
    </nz-badge>

    <nz-badge nzDot>
      <nz-avatar nzSrc="https://i.loli.net/2018/12/14/5c1351e690df1.jpg" [nzSize]="'small'" [nzShape]="'square'"></nz-avatar>
    </nz-badge>
  </div>
</nz-header>
