<div style="display: flex;">
  <div>
    <nz-avatar nzSize="large" nzIcon="anticon anticon-user"></nz-avatar>
  </div>

  <div style="flex:1;overflow: hidden;">
    <div>
      <a href="#">xxxXx</a>
      comment
      《
      <a href="#">Как закалялась сталь </a>
      》
      <i nz-icon nzType="flag" nzTheme="outline"></i>[待审]
    </div>
    We always knew our daughter Kendall was going be a performer of some sort. She entertained people in our small town
    by putting on shows on our front porch when she was only three or four. Blonde-haired, blue-eyed, and beautiful, she
    sang like a little angel and mesmerized1 everyone.
    <div>

      <div>
        <a href="#">批准</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a href="#">回复</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a href="#">垃圾评论</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a href="#">移至回收站</a>
      </div>

    </div>
  </div>
</div>
