<div id="main" class="write-mode write-mode-wide notransition" style="height: 100%;">
  <div id="markdown_main" class="notransition">

    <div id="editor-container">

      <div id="left-panel">
        <div id="editor">
          <textarea></textarea>
        </div>
        <!--<div class="cover-top"></div>-->
      </div>

      <!--      <div id="right-panel">
              <div id="pre-container-wrapper" tabindex="-1">
                <div id="pre-container" class="preview"></div>
              </div>
              &lt;!&ndash;<div class="cover-top"></div>&ndash;&gt;
            </div>-->

    </div>
  </div>
</div>
